#app {

  // el-icon-my-eye-close
  .el-icon-my-eye-close {
    /* 图片路径 */
    background: url('../assets/images/my-icons/eye-close.png') center no-repeat;
    background-size: cover;
  }
  .el-icon-my-eye-close:before {
    content: "\66ff";
    font-size: 16px;
    visibility: hidden;
  }
  .el-icon-my-eye-close {
    font-size: 16px;
  }
  .el-icon-my-eye-close:before {
    content: "\e641";
  }
  // el-icon-my-eye-close

   // el-icon-my-eye
   .el-icon-my-eye {
      /* 图片路径 */
      background: url('../assets/images/my-icons/eye.png') center no-repeat;
      background-size: cover;
    }
    .el-icon-my-eye:before {
      content: "\66ff";
      font-size: 16px;
      visibility: hidden;
    }
    .el-icon-my-eye {
      font-size: 16px;
    }
    .el-icon-my-eye:before {
      content: "\e641";
    }
    // el-icon-my-eye-close
}
